{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container-fluid mt-4">

        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">User products</th>
            </tr>
            </thead>
            <tbody>
            {% for user_item in users %}
                <tr>
                    <th scope="row"> {{ user_item.firstName }}</th>
                    <td> {{ user_item.lastName}} </td>
                    <td> {{ user_item.age}} </td>
                    <td>
                        {% for product_item in user_item.products %}
                        {{ product_item.name }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>


{% endblock %}
